################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/c#00/.vs/c#00/CopilotIndices/18.10.1207.43936/SemanticSymbols.db-wal
/c#00/.vs/c#00/CopilotIndices/18.10.1207.43936/SemanticSymbols.db-shm
/c#00/.vs/c#00/CopilotIndices/18.10.1207.43936/SemanticSymbols.db
/c#00/.vs/c#00.slnx
